<!DOCTYPE html>
<html>
<head>
    <title>Log ind side</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login-page">
    <div class="form">

        <table class="Login-form">
        <input type="text" id="usernameid2" placeholder="Username"/>
        <input type="password" id="passwordid2" placeholder="Password"/>
            
        </table>
        <button id="submituser" onclick= "loginValidate()">Log ind</button>
        <a href="create.html">Create a User</a>

        </div>
    </div>
    
    <div id=message></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src=../controller/login.js></script>
</html>