<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
         
<!--Her er min div klasse for userprofile-->
        <h1>
            Profile
        </h1>
        <div id="output"> 

<!--Her er min div klasse for min logout funktion-->

            <form>
                <div class="form">

                    <button id="update"> Update Profile</button> 

                    <button id="submituser" onclick= "deleteUser()">Delete</button>
                </div>
            </form>

<table id = "table">
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Age</th> 
              <th>Gender</th>
              <th>interest</th>
      </tr>   
  </table>
              
              </body>
              </html>

        </header>  
    </body>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src=../controller/profile.js></script>
</html>
